html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(122, 93, 56);
}

.whitesmoke {
  background-color: whitesmoke;
}

h1 {
  font-weight: bolder !important;
}

h2,
h5 {
  font-weight: bold !important;
}

p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(42, 42, 42);
}

#title-box img {
  border-radius: 50%;
  mix-blend-mode: darken;
}

#title-box h1,
h3 {
  line-height: 1;
}

@media (max-width: 1023px) {
  .title * {
    text-align: center;
  }
}
@media (min-width: 2559px) {
  .title h1 {
    font-size: 10rem;
  }
  .title p {
    font-size: 4rem;
  }
}
.title span {
  text-decoration: underline;
}

#intro img {
  border-radius: 50%;
  border: 10px solid whitesmoke;
  width: 20%;
}
