.html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.whitesmoke {
  background-color: whitesmoke;
}

#title-box img {
  border-radius: 50%;
  mix-blend-mode: darken;
}

.title {
  line-height: 0.5;
  color: rgb(122, 93, 56);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1023px) {
  .title * {
    text-align: center;
  }
}

.title h1 {
  /* font-size: 2em; */
  font-weight: bolder;
}
.title p {
  /* font-size: 1em; */
}

.title span {
  text-decoration: underline;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

#intro img {
  border-radius: 50%;
  border: 10px solid whitesmoke;
  width: 20%;
}

#intro h2 {
  font-size: 52px;
}
#intro p {
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}
