html{
    background-color:aliceblue;
    font-family: sans-serif;
}
.title, .subtitle{
    font: bold;
    text-align: center;
}
.colourbox{
    height: 100px;
    width: 100px;
}

.motivationalImage{
    border: 5px solid orange;
}

.quarterwidth{
    width: 50vw;
    line-height: 15px;
}
